@use "./fonts";

$font-header: "Manrope", sans-serif;
$font-main: "Inter", sans-serif;
$color-surface-top: #f4cbc6; /* header */
$color-surface-mid: #f4afab; /* borders, menu dots */
$color-surface-base: #f7edf0; /* main background */
$color-accent-strong: #f4f482; /* high-emphasis accents */
$color-accent-soft: #a7cbd8; /* soft accents, secondary areas */
